<section id="steps" class="steps text-center">
<div class="container">
  <div class="row-fluid">
    <div class="span4">
      <article>
      <i class="icon-check"></i>
      <h4>Create a goal</h4>
      <p>Aenean nisl mauris, pretium eu ornare quis, gravida ut risus. Aenean tristique lorem at nunc congue</p>
      </article>
    </div><!-- /span4 -->

    <div class="span4">
      <article>
      <i class="icon-heart-empty"></i>
      <h4>Match it with a want</h4>
      <p>Aenean nisl mauris, pretium eu ornare quis, gravida ut risus. Aenean tristique lorem at nunc congue</p>
      </article>
    </div><!-- /span4 -->

    <div class="span4">
      <article>
      <i class="icon-group"></i>
      <h4>Let your friends motivate you</h4>
      <p>Aenean nisl mauris, pretium eu ornare quis, gravida ut risus. Aenean tristique lorem at nunc congue</p>
      </article>
    </div><!-- /span4 -->
  </div><!-- /row-fluid -->
</div><!-- /container -->
</section>

<div class="divider"></div>

<section id="screenshots" class="screenshots text-center">
<div class="container">
  <div class="row-fluid">
    <div class="span12">
      <div id="myTabContent" class="tab-content">
        <div class="tab-pane fade in active" id="screenshot-1">
          <img src="img/screenshot.jpg" alt="screenshot" />

    </div><!-- /span12 -->
  </div><!-- /row-fluid -->
</div><!-- /container -->
</section>
