<header id="header" class="header page">
<div class="navbar-fixed-top navbar">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="index.html">Ogyam</a>
      <ul class="nav  pull-right">
        <li><a href="login/index.html">Login</a></li>
        <li><a href="login/register.html">Signup</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="container">
  <div class="row-fluid">
    <div class="span7">
      <div class="header-description">
      </div><!-- /header-description -->
      <div class="android-version">
      </div>
    </div><!-- /span7 -->
    <div class="span5">
      <div class="galaxy">
        <!-- code for slider goes here -->
      </div>           
    </div><!-- /span5 -->
  </div><!-- /row-fluid -->
</div><!-- /container -->
</header>

